@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: #fff;

}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp7525112.jpg);
    background-size: cover;
    

}

.nav{

    font-family: 'Nosifer', sans-serif;
    height: 100px;
    width: 100%;
   /* background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.logo #logoo{
    font-size: 40px;
    text-decoration: none;

    font-weight: bolder;
    
    color: rgb(130, 18, 18);
    font-weight: 600;
}

span{
    color: rgb(32, 86, 165);
}

 .nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 14px;
    font-size: 600;
    text-decoration: none;
             
}

.nav a{
    text-decoration: none;
    font-size:20px ;
}



.buttons #btn1{
    gap: 15px;
    background-color: black;
    padding: 9px 25px;
    border-radius: 6px;
    font-size: 18px;
    color: aqua;
}

.buttons #btn2{
    gap: 15px;
    background-color: black;
    padding: 9px 25px;
    border-radius: 6px;
    font-size: 18px;
    color: aqua;
}

.content{
    margin-top: 10%;
    max-width: 700px;
    padding-left: 40px;
}
.content h2{
    color: grey;
    font-size:60px ;
}

.content p{
    padding-top: 10px ;
    line-height: 25px;
    font-size: large;
    
}

#link{
   
   padding: 30px 40px ;

}
#link .HAUNT{
    color: aqua;
    position: relative;
  display: inline-block;
  top: 35%;
  width: auto;
  height: auto;
  max-width: 20rem;
  min-height: 1rem;
  padding: 1rem 2rem 0.8rem 2rem;
  border: 2px solid rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0);
  background-image:
    radial-gradient(#333 0%, #333 70%, transparent 71%, transparent 100%),
    radial-gradient(#333 0%, #333 70%, transparent 71%, transparent 100%),
    radial-gradient(#333 0%, #333 70%, transparent 71%, transparent 100%);
  background-size: 0 0, 0 0, 0 0;
  background-repeat: no-repeat;
  background-position: 30% 50%, 70% 50%, 50% 80%;
  text-decoration: none;
 
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-radius: 0;
  transform: rotate(0);
  transition:
    border 2.5s 1s,
    color 2s 0.6s,
    max-width 0.05s 0.6s, 
    min-height 0.05s 0.6s, 
    background-color 0.4s,
    background-size 0s,
    transform 0.4s,
    border-radius 0.4s;

}

#link .HAUNT:hover{
    max-width: 10rem;
    min-height: 10rem;
    color: rgba(255,255,255,0);
    border: 2px solid rgba(255,255,255,0);
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    background-size: 1.5rem 1.5rem, 1.5rem 1.5rem, 1.5rem 1rem;
    transform: rotate(400grad);
    transition:
      border 0.1s,
      color 0.15s,
      max-width 0.25s, 
      min-height 0.25s, 
      background-color 0.25s,
      background-size 0.15s 0.45s,
      transform 0.4s,
      border-radius 0.25s 0.3s;
}



