@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Salsa&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;

    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;

}

#main{
    height:100%;
    width: 100%;
    background-color: #000;
}

#nav{
    height: 150px;
    width: 100%;
   /* background-color: red;*/
 /*  background-color: #000;*/

   padding: 0 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
  
}
  


#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* background-color: blue;*/
    width:65%;
  
}


#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 15px;
}

#nav>i{   /* nav ke direct andr jo i hai*/
    font-size: 20px;
    margin-right: 5px;

}

#nav h5{
    font-size: 14px;
    text-transform: capitalize;  /* first letter capital sabka*/
    font-weight: 600;
}

#nav img{
    height: 50px;
}

#line{
    width:70px ;
    height: 3px;
    background-color: red;
}

#content{

    height: calc(100% - 140px);
    width: 100%;
    /*background-color: aqua;*/
    display: flex;
    justify-content: space-between;
    position: relative;
}

#left{
    width: 36%;
    height: 100%;
    /*background-color: red;*/
    padding: 10px 100px;
    
}

#right{
    width: 36%;
    height: 100%;
    /*background-color: red;*/
    padding: 300px 100px;
}

#center{
    width: 20%;
    height: 100%;
    /*background-color:rgb(255, 0, 0);*/
    padding-top:60px ;

}

#left h1{
    font-size: 72px;
    line-height:70px ;
    font-weight: 700;
    margin-bottom: 40px;
}

#left h1 span{
    color: red;
    font-weight: 500;

}

#left p{
    margin-bottom: 40px;
    font-size: 17px;
    width: 70%;
    line-height:20px;

}

#left button{
    background-color: red;
    padding: 20px 42px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;

}

#left button i {
    margin-right: 10px;
}

#center-bg{
background-color: blue;
width: 100%;
height: 90%;
border-top-left-radius: 1000px;
border-top-right-radius: 1000px;
background-image: url(wallpaperflare.com_wallpaper.jpg);
background-size: 450%;
background-position: 30% 40%;
filter: blur(3px);



}

#content>img{
    height: 100%;
    position: absolute;
    left: 48%;
    transform: translate(-50%,0);

}

#right-elems{
    /*background-color: red;*/
    width: 350px;
    
   
}

#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
   /* background-color: blue;*/
    border-bottom: 1px solid #fff;
}

#elem1 h1{
    font-size: 24px;
    font-weight: 600;


}

#elem1 i{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top:15px ;
    opacity: 0.6;

}

#elem2 p{

    font-size: 12px;
    width: 80%;
    opacity: 0.6;


}


.div1{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;

}

.div1 i{
    font-size: 30px;
    
}

#heart i{
    color: red;
    font-size: 40px;
    
}








